[submodule "linux"]
	path = linux
	url = https://github.com/riscv/riscv-linux.git
[submodule "buildroot"]
	path = buildroot
	url = https://github.com/sifive/buildroot.git
[submodule "riscv-pk"]
	path = riscv-pk
	url = https://github.com/riscv/riscv-pk.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = git@github.com:mit-sanctum/riscv-gnu-toolchain.git
  branch = sanctum
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = git@github.com:mit-sanctum/riscv-isa-sim.git
  branch = sanctum
[submodule "riscv-fesvr"]
	path = riscv-fesvr
	url = https://github.com/riscv/riscv-fesvr.git
[submodule "riscv-qemu"]
	path = riscv-qemu
	url = git@github.com:mit-sanctum/riscv-qemu.git
  branch = sanctum
[submodule "security_monitor"]
	path = security_monitor
	url = git@github.com:mit-sanctum/security_monitor.git
	branch = master
[submodule "sanctum_bootloader"]
	path = sanctum_bootloader
	url = git@github.com:mit-sanctum/sanctum_bootloader.git
	branch = master
